.center {
  padding: 50px 50px 50px 50px;
 text-align: center;
}

.img  {
  display:inline-block;
    height: 300px;
    width: 300px;

}
.button {
text-align: center;

}

.yes{
margin-left:20px;
margin-right:20px;
height:50px;
width: 100px;
font-size:20px;
font-family: cursive;
background-color:#dbd108;
border-radius: 95%;
}

h1{
font-family: cursive;
font-size: 50px;
}

*{
background-color:#db3708;
}

.no {
margin-left:20px;
margin-right:20px;
height:50px;
width: 100px;
font-size:20px;
font-family: cursive;
background-color:#dbd108;
border-radius: 95%;

}

.no:active{
background-color:blue;
 opacity:0;
}


.no:hover {
background-color:blue;
 opacity:0;
}
.yesbtn {
background-color: #dbd108;
color:black;
text-decoration:none;
}