h1 {
color: black;
text-align:center;
font-family: cursive;
}
   .center {
     padding: 50px 50px 50px 50px;
    text-align: center;

   }

   img  {
     display:inline-block;
       max-height: 100%;
       max-width: 100%;

   }

*{
background-color: red;
}

.meow {
color:black;
font-family: cursive;
}
